database:
  name: database_name
  user: password_in_settings
  pass: password_in_settings

codebase:
  drupal_version: 8
  domain: hostname.local
  short_name: myshortname
  folders:
    files: /var/www/web/sites/default/files

install:
  profile: standard
  account_mail: admin@example.com
  account_name: admin
  account_pass: admin
  site_name: Test Site
  site_mail: admin@example.com
