database:
  name: database_name
  user: password_in_settings
  pass: password_in_settings

codebase:
  drupal_version: 8
  domain: hostname.local
  short_name: myshortname
  folders:
    files: /var/www/web/sites/default/files
