<VirtualHost *:80>
    ServerName {{ item.domain }}
    DocumentRoot /var/www/web

    <Directory /var/www/web>
      Options Indexes FollowSymLinks
      AllowOverride all
    </Directory>

    ErrorLog  /var/log/apache2/{{ item.short_name }}-error_log
    CustomLog /var/log/apache2/{{ item.short_name }}-access_log common
</VirtualHost>
